<style>
.flexcontact{
  display:flex;
  gap:2rem;
}

.flexleft{
  font-size:1.2rem;
}

.flexright{
  font-size:1.2rem;
  flex-basis: calc(35% - 2rem);
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.adressblock .h4{
  font-family:var(--typeHeaderPrimary),var(--typeHeaderFallback)
}

@media only screen and (max-width: 769px) {
.flexcontact{
  flex-direction:column;
}
.flexright{

}
  
}

  
</style>

<div class="index-section">
  <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %} flexcontact">
<div class="flexleft">
    {%- if section.settings.title != blank -%}
      <div class="section-header">
        <h2 class="section-header__title">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.text != blank -%}
          <div class="rte section-header__rte">{{ section.settings.text }}</div>
        {%- endif -%}
      </div>
    {% endif %}

    <div class="form-vertical">
      {%- assign form_id = 'contact-' | append: section.id -%}
      {%- form 'contact', id: form_id -%}

        {%- if form.posted_successfully? -%}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {%- endif -%}

        {{ form.errors | default_errors }}

        <div class="grid grid--small">
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="ContactFormName-{{ section.id }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail-{{ section.id }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
          </div>
        </div>

        {%- if section.settings.show_phone -%}
          <label for="ContactFormPhone-{{ section.id }}">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone-{{ section.id }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        {%- endif -%}

        <label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>
        <textarea rows="5" id="ContactFormMessage-{{ section.id }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <button type="submit" class="btn">
          {{ 'contact.form.send' | t }}
        </button>

        {% comment %}
          Remove the following three lines of code to remove the note
          about being protected by Google's reCAPTCHA service.
          By removing it, the small reCAPTCHA widget will appear in the
          bottom right corner of the page.
        {% endcomment %}
        {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}

      {%- endform -%}
    </div>
  </div>
<div class="flexright">
<div class="adressblock">
  <h4 class="h4">Addresse</h4>
  <p>Berliner Platz 13a, 22045 Hamburg</p>
</div>

<div class="adressblock">
  <h4 class="h4">Information</h4>
  <p><a href="mailto:info@mama-t.de">info@mama-t.de</a></p>

  <p><a href="tel:0049159006355599">
01590 063 555 99</a></p>
</div>

<div class="adressblock">
  <h4 class="h4">Öffnungszeiten</h4>
  <p>Montags-Freitags: <b>12:00 - 19:00</b></p>
  <p>Samstags: <b>10:00 - 19:00</b></p>
</div>

<div class="adressblock">
  <h4 class="h4">Social Media</h4>
<div class="socials" style="justify-content:start"><a href="https://de-de.facebook.com/afroshop.mama.t"><img class="" src="//cdn.shopify.com/s/files/1/0549/3302/9099/files/fb.svg?v=14751765340707841566"></a> <a href="https://www.instagram.com/afroshop.mama.t/?hl=de"><img class="" src="//cdn.shopify.com/s/files/1/0549/3302/9099/files/insta.svg?v=14431965350090513489"></a> </div>
</div>
  
</div>

    
</div>
</div>
{% schema %}
  {
    "name": "Contact form",
    "class": "index-section",
    "settings": [
      {
        "type": "paragraph",
        "content": "All submissions are sent to the customer email address of your store. [Learn more](https://help.shopify.com/en/manual/using-themes/change-the-layout/add-contact-form#view-contact-form-submissions)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Contact us"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "label": "Show phone number"
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column",
        "default": true
      }
    ],
    "presets": [{
      "name": "Contact form"
    }]
  }
{% endschema %}
