
<style>
#shopify-section-{{ section.id }} .imgtext{
  display: flex;
  flex-direction:column;
    font-size: 1.2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  margin:2rem auto;
  text-align:center;
  width:70%;
}

#shopify-section-{{ section.id }}   .imgtext > div {
    flex-basis:calc(50% - 2rem);
  width:100%;
  }

 #shopify-section-{{ section.id }}  .reverse{
    flex-direction:row-reverse;
  }

#shopify-section-{{ section.id }} iframe{
      width: 100%;
    height: 40vh;
}

@media only screen and (max-width: 769px) {
#shopify-section-{{ section.id }}  .imgtext{
   width:100%;
  
 } 
#shopify-section-{{ section.id }}   .imgtext > div {
    flex-basis:100%;
  }

#shopify-section-{{ section.id }}   .reverse{
   flex-direction:column; 
  }
}
  
</style>

<div class="page-width">
  
    <div class="imgtext {% if section.settings.reverse %}reverse{% endif %}">
<div class="left"><iframe
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe></div>

    <div class="right">
   <span class="h1" style="font-size:2rem"> {{section.settings.title}} </span>
    <br>
    {{ section.settings.text }}
    
    </div>
      
    </div>
</div>

{% schema %}
  {
    "name": "Frozen Video",
    "settings": [
    {
  "type": "image_picker",
  "id": "img",
  "label": "Bild"
  },
    {
  "type": "text",
  "id": "title",
  "label": "Titel"
  },
    {
  "type": "textarea",
  "id": "text",
  "label": "Fließtext"
  },
      {
  "type": "checkbox",
  "id": "reverse",
  "label": "Umkehren"
  }
    ],
    "presets": [
    {
      "name": "Frozen Video Column | PurplePandaMedia"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}